# Docker build leftovers
valgrind-logs/
fuzzer-logs/
fuzzer-asan-logs/
fuzzer-tsan-logs/
asan-logs/
tsan-logs/

# Python
__pycache__/
*.pyc
*.pyo

# Editor files
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
